<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;padding: 2.5vw;">
        <h5>WELCOME</h5><br>
            <input placeholder="Candidate Email Address " type="email" style="margin-bottom: 0.6vw;width: 30vw; border-radius: 0.3vw;" required><br>
            <input placeholder="Enter Password " type="password" style="margin-bottom: 0.6vw;width: 30vw; border-radius: 0.3vw;" required><br>
            <a style="text-align:right;">Forgot Password?</a><br><br>
           <button type="submit" style="text-align: center; background-color: lightcoral;">LogIn</button>
        </div>
</body>
</html>