<div id="admission" class="admissionform"
        style="border: 1px solid black;background-color: rgb(221, 233, 217); padding: 2.1vw; text-align: center;">
        <form action="submitted.html">
            <p style="font-size: 2em;"><b>Admission Form 2021</b></p>

            <div class="divRegister" style="text-align: center;padding: 2.5vw;">
                <input name="Name" placeholder="Candidate Name " required><br>
                <input placeholder="Candidate Email Address " type="email" required><br>
                <input placeholder="Candidate Mobile Number " type="tel" required><br>
                <input placeholder="Enter Password " type="password" required><br>
                <select class="selectTag" required>
                    <option value="" disabled selected hidden>Select Program</option>
                    <option>CSE</option>
                    <option>EE</option>
                    <option>CE</option>
                    <option>ME</option>
                    <option>AE</option>
                    <option>SS</option>
                </select><br>
                <select class="selectTag" required>
                    <option value="" disabled selected hidden>Select State</option>
                    <option>CSE</option>
                    <option>EE</option>
                    <option>CE</option>
                    <option>ME</option>
                    <option>AE</option>
                    <option>SS</option>
                </select>
                <select class="selectTag" required>
                    <option value="" disabled selected hidden>Select City</option>
                    <option>CSE</option>
                    <option>EE</option>
                    <option>CE</option>
                    <option>ME</option>
                    <option>AE</option>
                    <option>SS</option>
                </select><br><br>
                <button type="submit" id="btnRegister"
                    style="text-align: center; background-color: lightcoral;">Register</button>
            </div>
        </form>
    </div>