 <div class="copyright">© 2021 IIT Madras, All Rights Reserved | Site by Morweb</div>

    <div id='navbarfooter'>
        An Institute of Eminence
    </div>


    <script src="script.js"></script>

</body>

</html>
</body>
</html>