    <div class="flexhead" style=" background-color: rgb(218, 238, 241);">
        <div>
            <img width="70" height="70" src="media/logo1.png" alt="IIT Madras LOGO">
        </div>
        <div class="divhead">
            <h5>IIT MADRAS</h5>
            <p>Indian Instite Of Technology Madras</p>
        </div>
        <div class="divQuickLinks">
            <a href="#about">About</a>
            <a href="#courses">CourseAvailable</a>
            <a href="#director">DirectorWord</a>
            <a href="/register">Register</a>
            <a href="/login">LogIn</a>
        </div>
    </div>